<article class="post">
  <div class="title-row">
    <div class="title">
      <a href="/post/{{id}}">{{title}}</a>
    </div>
    <div class="posted-by">
      Posted by
      {{user.username}}
      on
      {{format_date created_at}}
      (
      {{comments.length}}
      {{format_plural "comment" comments.length}}
      )
    </div>
  </div>
  <div class="content-row">{{post_content}}</div>
</article>